/*
* 我的自定义CSS
* @Author: iceStone
* @Date: 	2017-12-05 14:06:55
* @Last Modified by: 	iceStone
* @Last Modified time: 2017-12-05 14:06:55
*/

/*
* 1.样式都通过ID去限定
* 2.尽可能多使用直接子代选择器
*/

/*
* Bootstrap扩展
*/

.panel-czbk {
    border: 0;
    border-radius: 0;
    box-shadow: 1px 1px 5px #aaa;
}

.panel-czbk.actived {
    background-color: #e92322;
    color: #fff;
}

.panel-czbk.actived::before {
    content: "\e915";
    position: absolute;
    top: -11px;
    left: 15px;
    font-family: itcast;
    font-size: 50px;
}

.panel-czbk.disabled {
    background-color: #e0e0e0;
}

.panel-czbk > .panel-heading {
    position: relative;
    float: right;
    width: 120px;
    padding: 40px 0 0 0;
    height: 150px;
    border-left: 1px dashed #c0c0c0;
    text-align: center;
}

.panel-czbk > .panel-heading > .tooltips {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 26px;
}

.panel-czbk > .panel-heading strong {
    font-size: 30px;
}

.panel-czbk > .panel-heading::before,
.panel-czbk > .panel-heading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #f0f0f0;
}

.panel-czbk > .panel-heading::before {
    top: -8px;
    left: -8px;
}

.panel-czbk > .panel-heading::after {
    bottom: -8px;
    left: -8px;
    box-shadow: 0 2px 1px #ccc inset;
}

.panel-czbk > .panel-body {
    margin-right: 120px;
    height: 150px;
}

.panel-czbk > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}

.panel-czbk > .panel-heading .badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    background-color: transparent;
    padding: 3px;
}

.panel-czbk > .panel-heading .badge-one {
    color: #e92322;
    border-color: #e92322;
}

.panel-czbk > .panel-heading .badge-two {
    color: #399;
    border-color: #399;
}

.panel-czbk > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}

.navbar-itcast {
    background-color: #fff;
    border-bottom-color: #f0f0f0;
    margin-bottom: 0;
    width: 100%;
    z-index: 1;
    top: 0;
}

.navbar-itcast .navbar-brand {
    height: 70px;
    padding: 10px 15px;
}

.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-itcast .navbar-text {
    color: #777;
}

.navbar-itcast .navbar-nav > li > a {
    color: #878787;
    font-size: 1.4rem;
    line-height: 38px;
}

/*@media screen and (min-width: 992px) {
  .navbar-itcast .navbar-nav > li > a {
    font-size: 1.6rem;
  }
}*/

.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
    color: #424242;
    background-color: transparent;
    border-bottom: 2px solid #e9232c;
}

.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
    color: #424242;
    background-color: #fff;
    border-bottom: 2px solid #e9232c;
}

.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-itcast .navbar-toggle {
    border-color: #ddd;
    margin-top: 18px;
    margin-bottom: 18px;
}

.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-itcast .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
    border-color: #e7e7e7;
}

.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-itcast .navbar-link {
    color: #777;
}

.navbar-itcast .navbar-link:hover {
    color: #333;
}

.navbar-itcast .btn-link {
    color: #777;
}

.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
    color: #333;
}

.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
    color: #ccc;
}

.btn-register {
    color: #FFFFFF;
    background-color: #E9232C;
    border-color: #DB3B43;
}

.btn-register:hover,
.btn-register:focus,
.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    color: #FFFFFF;
    background-color: #E9232C;
    border-color: #DB3B43;
}

.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    background-image: none;
}

.btn-register.disabled,
.btn-register[disabled],
fieldset[disabled] .btn-register,
.btn-register.disabled:hover,
.btn-register[disabled]:hover,
fieldset[disabled] .btn-register:hover,
.btn-register.disabled:focus,
.btn-register[disabled]:focus,
fieldset[disabled] .btn-register:focus,
.btn-register.disabled:active,
.btn-register[disabled]:active,
fieldset[disabled] .btn-register:active,
.btn-register.disabled.active,
.btn-register[disabled].active,
fieldset[disabled] .btn-register.active { .ul-wrapper >
    background-color: #E9232C;
    border-color: #DB3B43;
}

.btn-register .badge {
    color: #E9232C;
    background-color: #FFFFFF;
}

/* 
* 公共样式 
*/

body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

/*
* 字体图标
*/

@font-face {
    font-family: 'itcast';
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'), url('../font/MiFie-Web-Font.svg') format('svg'), url('../font/MiFie-Web-Font.ttf') format('truetype'), url('../font/MiFie-Web-Font.woff') format('woff');
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: itcast;
    font-style: normal;
}

.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}

/*logo字体图标*/

.icon-logo::before {
    content: "\e93e";
}

.icon-icon::before {
    content: "\e920";
}

/*
* 头部区域
*/

#header > .topbar {
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
    line-height: 40px;
}

#header .mobile-link {
    position: relative;
    font-size: 12px;
    color: #888;
    z-index: 999;
}

#header .mobile-link > img {
    position: absolute;
    display: none;
    left: 50%;
    margin-left: -60px;
    top: 26px;
    z-index: 1;
}

#header .mobile-link:hover {
    text-decoration: none;
}

#header .mobile-link:hover > img {
    display: block;
}

#header .icon-icon {
    display: inline-block;
    font-size: 50px;
    color: #E92322;
    line-height: 50px;
    vertical-align: middle;
}

#header .icon-logo {
    display: inline-block;
    font-size: 32px;
    color: #333;
    line-height: 50px;
    vertical-align: middle;
}

/*
* 通栏广告轮播图
*/

#main_ad {
}

#main_ad > .carousel-inner > .item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* 什么时候高度不能用410px? 当屏幕宽度大于768px时才会执行 */
/* 可以通过媒体查询的方式控制 */
@media (min-width: 768px) {
    /* 当屏幕宽度大于768px时(此时使用大图) */
    #main_ad > .carousel-inner > .item {
        height: 410px;
    }
}

#main_ad > .carousel-inner > .item > img {
    width: 100%;
}

/*
* 特色介绍区域
*/

#tese {
    padding: 50px 0 0 50px;
    border-bottom: 1px solid #ccc;
}

.icon-uniE907::before {
    content: "\e907";
}

.icon-uniE901::before {
    content: "\e901";
}

.icon-uniE900::before {
    content: "\e900";
}

.icon-uniE904::before {
    content: "\e904";
}

.icon-uniE902::before {
    content: "\e902";
}

.icon-uniE903::before {
    content: "\e903";
}

#tese i {
    font-size: 34px;
}

#tese a:hover {
    text-decoration: none;
    color: #f40;
}

#tese > .container > .row > div {
    margin-bottom: 20px;
    margin-top: 20px;
}

/*
* 立即预约
*/

#ljyy {
    border-bottom: 1px solid #c0c0c0;
    padding: 20px 0;
}

#ljyy > .container > p {
    /* line-height: 50px; */
    font-size: 14px;
    margin-bottom: 0;
}

#ljyy > .container > .pull-left > span,
#ljyy > .container > .pull-left > a {
    color: #e92322;
}

#ljyy > .container > .pull-left > a {
    border-bottom: 1px dashed #e92322;
}

#ljyy > .container > .pull-left > a:hover {
    text-decoration: none;
}

.icon-uniE906::before {
    content: "\e906";
}

.icon-uniE905::before {
    content: "\e905";
}

/*
* 产品推荐
*/

#products {
    background-color: #f0f0f0;
    padding: 40px 0;
}

/* 如果这样写,PC端也会始终有横向滚动条 */
/* #products > .container > .ul-wrapper {
    overflow-x: scroll;
} */

#products > .container > .ul-wrapper > .nav-tabs {
    padding-left: 20px;
}

#products > .container > .ul-wrapper > .nav-tabs > li {

}

#products > .container > .ul-wrapper > .nav-tabs > li > a {
    font-size: 16px;
    color: #333;
}

#products > .container > .ul-wrapper > .nav-tabs > li > a:hover {
    border-color: transparent;
    background-color: transparent;
    color: #000;
}

#products > .container > .ul-wrapper > .nav-tabs > li.active {

}

#products > .container > .ul-wrapper > .nav-tabs > li.active > a {
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid #e92232;
}

#products > .container > .tab-content {
    padding: 20px 0;
}

#products > .container  .tab-content p {
    margin-bottom: 0;
}

/*
* 新闻列表
*/

#news {
    padding: 50px 0;
    border-bottom: 1px solid #c0c0c0;
}

#news .nav-pills > li > a {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    padding: 10px 15px 15px 15px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
}

#news ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#news .line {
    height: 100%;
    border-left: 1px dashed #c0c0c0;
    position: absolute;
    top: 0;
    left: 55%;
    z-index: -1;
}

#news .tab-pane ul {
    list-style: none;
    font-size: 14px;
    line-height: 3;
    padding: 0;
}

#news .nav-pills > li > a:hover,
#news .nav-pills > li.active > a,
#news .nav-pills > li.active > a:hover,
#news .nav-pills > li.active > a:focus {
    background-color: #e9232c;
}

#news .news-title {
    position: relative;
    padding: 15px 0;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px dashed #c0c0c0;
    margin-right: 10px;
}

#news .news-title::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    bottom: -5px;
    right: -10px;
}

.icon-news01::before {
    content: "\e90e";
    font-size: 28px;
    color: #eaeaea;
}
.icon-news02::before {
    content: "\e90f";
    font-size: 28px;
    color: #eaeaea;
}
.icon-news03::before {
    content: "\e910";
    font-size: 28px;
    color: #eaeaea;
}
.icon-news04::before {
    content: "\e911";
    font-size: 28px;
    color: #eaeaea;
}

@media (max-width: 768px) {
    #news .nav-stacked > li {
        float: left;
        margin-right: 20px;
    }
}

/**
* 合作伙伴
*/

#hzhb {
    padding: 30px 0;
}

#hzhb ul {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

#hzhb ul li {
    float: left;
    display: inline-block;
    width: calc(100% / 9);
    line-height: 1;
}

#hzhb ul li + li {
    border-left: 1px dashed #e0e0e0;
}

#hzhb ul li a {
    font-size: 50px;
    padding: 10px 20px;
    color: #888;
}

#hzhb ul li a:hover {
    text-decoration: none;
}

.icon-uniE930:hover {
    color: #df3232;
}

.icon-uniE930:before {
    content: "\e946";
}

.icon-uniE92F:hover {
    color: #e8380d;
}

.icon-uniE92F:before {
    content: "\e92f";
}

.icon-uniE92E:hover {
    color: #ed6f00;
}

.icon-uniE92E:before {
    content: "\e92e";
}

.icon-uniE92A:hover {
    color: #159f69;
}

.icon-uniE92A:before {
    content: "\e92a";
}

.icon-uniE929:hover {
    color: #07569e;
}

.icon-uniE929:before {
    content: "\e929";
}

.icon-uniE931:hover {
    color: #004098;
}

.icon-uniE931:before {
    content: "\e931";
}

.icon-uniE92C:hover {
    color: #d32019;
}

.icon-uniE92C:before {
    content: "\e92c";
}

.icon-uniE92B:hover {
    color: #3eac4a;
}

.icon-uniE92B:before {
    content: "\e92b";
}

.icon-uniE92D:hover {
    color: #2bb289;
}

.icon-uniE92D:before {
    content: "\e92d";
}

/**
* 脚注区域
*/

#footer {
    height: 20px;
}